.DS_Store
m2048.xcodeproj/project.xcworkspace/xcuserdata/hdh.xcuserdatad/UserInterfaceState.xcuserstate
m2048.xcodeproj/xcuserdata/hdh.xcuserdatad/xcschemes/xcschememanagement.plist
m2048/libs/protobuf/xcodeproject/protobuf.xcodeproj/xcuserdata/hdh.xcuserdatad/xcschemes/xcschememanagement.plist